<h1>Advertisements</h1>
<input type="text" class ="searchTerm" [(ngModel)]="advFilter" placeholder="Search by City...">
<ul>
  <div *ngFor="let rentad of rentads$ | advertisementFilter: advFilter">
    <a routerLink = "/advertisement/{{rentad.id}}">
        <div id="rentadcontainer" [ngStyle]="{'background-color': rentad.premium ? 'gold' : '#2d2e2e'}">
          <div>{{rentad.city}} {{rentad.street}} </div>
          <img id="rentadimg" *ngIf="rentad.adPictures.length != 0" src="/api/media/uploads/advertisements/{{rentad.id}}/{{rentad.adPictures[0].path}}">
          <img id="rentadimg" *ngIf="rentad.adPictures.length == 0" src="https://www.logolynx.com/images/logolynx/df/dfc95540c225d6841233d7f74c9a2a11.png">
          <div class="bottom-left">
            <div class=advdesc>Click here to view!</div>
          </div>
        </div>  
      </a>
  </div>
</ul>