#rentadcontainer {
    position: relative;
    text-align: center;
    color: white;
    background-color:#2d2e2e;
    height: 250px;
    width:400px;
    border-radius:25px 20px;
    float: left;
    margin: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#rentadcontainer .bottom-left {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#rentadcontainer:hover .bottom-left {
    visibility: visible;
    opacity: 1;
}
#rentadimg {
    opacity: 1;
    display: block;
	width:100%;
    height:auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#rentadcontainer:hover #rentadimg{
    opacity: 0.3;
}
.advdesc {
  color: white;
  font-size: 16px;
}