<h1>{{ user$.firstName }}</h1>
<div class="topcontainer">
    <div class="userimgdiv" [ngStyle]="{'background-color': user$.gender == 'Male'? 'lightblue' : 'pink'}">
      <img class="userimg" src="https://ca.slack-edge.com/T78TPR5LY-U7EERDEMA-3f68fbd5ca47-512">
    </div>  
    <div id="userdesc"> <p>{{ user$.description }}</p></div>
</div>

<div id="userdetailslist">
  <ul>
    <li><strong>Firstname:</strong> {{ user$.firstName }}</li>
    <li><strong>Age:</strong> {{ user$.age}}</li>
    <li><strong>Gender:</strong> {{ user$.gender }}</li>
    <li *ngIf="user$.destination !=''"><strong>Destination:</strong> {{ user$.destination }}</li>
  </ul>
</div>