<div class="container">
<h1>My inbox</h1>
<span class="error" *ngIf="showError">{{ errorMessage }}</span>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <table *ngIf="!showError" class="inboxTable" align="center">
    <tr>
      <th>Sender</th>
      <th>Subject</th>
      <th>Date</th>
      <th></th>
    </tr>
    <tr class="pointer" *ngFor="let message of inboxMessages$">
      <td (click)="onMessageClick(message.id)"> <span [class.notSeenMessage]="!message.seen"> {{message.senderName}} </span></td>
      <td (click)="onMessageClick(message.id)"> <span [class.notSeenMessage]="!message.seen"> {{message.subject}} </span></td>
      <td (click)="onMessageClick(message.id)"> <span [class.notSeenMessage]="!message.seen"> {{message.date | date:'y-MM-dd hh:mm'}} </span></td>
      <td><input type="image" src="/assets/delete.png" (click)="deleteReceivedMessage(message.id)"></td>
    </tr>
  </table>

  <div *ngIf="message" [class.showModal]="showMessageModal" id="myModal" class="modal">
      <div class="modal-content">
          <div class="modal-header">
            <span class="close" (click)="onMessageCloseClick()">&times;</span>
            <h2>From: {{ message.senderName }} </h2>
          </div>
          <div class="modal-body">
            <p><b>Subject:</b> {{ message.subject }}</p>
            <p><b>Date:</b> {{ message.date | date:'y-MM-dd hh:mm'}}</p>
            <p><b>Message:</b></p>
            <p> {{ message.content }} </p>
          </div>
          <div class="modal-footer">
            <input type="image" value="Reply" src="/assets/new-message.png" (click)="onMessageReplyClick()">
          </div>
      </div>
    </div>

</div>