<h2>Edit advertisement</h2>
<div id="slots" >
  <div class="row">
    <div class="col-25">
      <label for="visible">People in your advertisement</label>
    </div>
    <div class="col-75">
      <app-rent-slots [rentAdId]="selectedAd"></app-rent-slots>
    </div>
  </div>
</div>
<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="visible">Activate/deactivate advertisement(visible for people)</label>
      </div>
      <div class="col-75">
        <input *ngIf="active == true" type="button" id="visible" value="Set inactive" (click)="onSetAdVisibilityClick(rentAd.id)">
        <input *ngIf="active == false" type="button" id="notvisible" value="Set active" (click)="onSetAdVisibilityClick(rentAd.id)">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="state">State</label>
      </div>
      <div class="col-75">
        <input type="text" id="state" name="rent-state" placeholder="{{rentAd.state}}" [(ngModel)]="rentAd.state">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="city">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="city" name="rent-city" placeholder="{{rentAd.city}}" [(ngModel)]="rentAd.city">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="district">District</label>
      </div>
      <div class="col-75">
        <input type="text" id="district" name="rent-district" placeholder="{{rentAd.district}}" [(ngModel)]="rentAd.district">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="street">Street</label>
      </div>
      <div class="col-75">
        <input type="text" id="street" name="rent-street" placeholder="{{rentAd.street}}" [(ngModel)]="rentAd.street">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="cost">Cost</label>
      </div>
      <div class="col-75">
        <input type="number" id="cost" name="rent-cost" placeholder="{{rentAd.cost}}" [(ngModel)]="rentAd.cost">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="type">Type</label>
      </div>
      <div class="col-75">
        <select id="type" name="rent-type" [(ngModel)]="rentAd.type">
          <option value="flat">Flat</option>
          <option value="house">House</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="size">Size</label>
      </div>
      <div class="col-75">
        <input type="number" id="size" name="rent-size" placeholder="{{rentAd.size}}" [(ngModel)]="rentAd.size">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="furnitured">Furnitured</label>
      </div>
      <div class="col-75">
        <input type="checkbox" id="furnitured" name="rent-furnitured" [(ngModel)]="rentAd.furnitured">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="rooms">Available rooms</label>
      </div>
      <div class="col-75">
        <input type="number" id="rooms" name="rent-rooms" placeholder="{{rentAd.roomsAvailable}}" [(ngModel)]="rentAd.roomsAvailable">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="description" name="rent-description" placeholder="{{rentAd.description}}." [(ngModel)]="rentAd.description" style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pictures">Pictures</label>
      </div>
      <div id = "picturescontainer" class="col-75">
        <div *ngFor="let number of [0,1,2,3]">
          <div class ="uploadButton" *ngIf="pictures.length &lt; number+1">
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            <img src="https://www.logolynx.com/images/logolynx/df/dfc95540c225d6841233d7f74c9a2a11.png" (click)="fileInput.click()">
          </div>
          <div class ="uploadButton" *ngIf="pictures[number] != null">
            <img src="/api/media/uploads/advertisements/{{rentAd.id}}/{{pictures[number].path}}" id="userimg" >
            <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png" (click)="onDeleteButtonClick(pictures[number])" id="deleteimg">
          </div>
        </div>     
      </div>
      <div id = "paypal" *ngIf="!rentAd.premium">
        <div id = "paypalContent">
          <img id = "paypalImg" src = "http://icons.veryicon.com/png/System/Sticker%20Pack%201/Package.png">
          <strong>Premium advertisement pack 5$</strong>
        </div>
        <img id = "paypalButton" src = "https://www.braintreepayments.com/images/features/paypal/paypal-button@2x-d5ec2863.png" (click) = "onPaypalButtonClick()">
      </div>
    </div>


    <div class="row">
      <span class="error" *ngIf="showError">{{ errorMessage }}</span><br>
      <input type="button" value="Edit" (click) = 'editAdvertisement()'>
    </div>
  </form>
</div>