<div class="container">
  
  <form action="/action_page.php">

    <h1>Sent messages</h1>

    <div id="messages">
      <table *ngIf="!showError">
        <tr>
          <th>To</th>
          <th>Subject</th>
          <th>Date</th>
          <th></th>
        </tr>
        <tr class="pointer" *ngFor="let message of sentMessages">
          <td (click)="onMessageClick(message.id)"> {{message.receiverName}} </td>
          <td (click)="onMessageClick(message.id)"> {{message.subject}} </td>
          <td (click)="onMessageClick(message.id)"> {{message.date | date:'y-MM-dd hh:mm'}} </td>
          <td (click)="onMessageDeleteClick(message.id)"> <input type="image" src="/assets/delete.png"> </td>
        </tr>
      </table>
    </div>

    <div id="error">
      <span *ngIf="showError" class="error">{{ errorMessage }}</span>
    </div>

  </form>
  
  <div *ngIf="message" [class.showModal]="showMessageModal" id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
          <span class="close" (click)="onMessageCloseClick()">&times;</span>
          <h2>To: {{ message.receiverName }} </h2>
        </div>
        <div class="modal-body">
          <p><b>Subject:</b> {{ message.subject }}</p>
          <p><b>Date:</b> {{ message.date | date:'y-MM-dd hh:mm'}}</p>
          <p><b>Message:</b></p>
          <p> {{ message.content }} </p>
        </div>
        <div class="modal-footer">
          <input type="image" value="Reply" src="/assets/new-message.png" (click)="onMessageReplyClick()">
        </div>
    </div>
  </div>

</div>
