<div class="container">
  
  <form action="/action_page.php">

    <h1>Sent messages</h1>

    <div id="messages">
      <table *ngIf="showMessages">
        <tr>
          <th>To</th>
          <th>Subject</th>
          <th>Date</th>
          <th></th>
        </tr>
        <tr *ngFor="let message of sentMessages">
          <td (click)="onMessageClick()"> {{message.receiverName}} </td>
          <td (click)="onMessageClick()"> {{message.subject}} </td>
          <td (click)="onMessageClick()"> {{message.date | date:'y-MM-dd hh:mm'}} </td>
          <td (click)="onMessageDeleteClick()"> <input type="image" src="/assets/delete.png"> </td>
        </tr>
      </table>
    </div>

    <div id="error">
      <span class="error">{{ errorMessage }}</span>
    </div>

  </form>

</div>