<div id="logincontainer">
    <h1>Log In</h1>
    <form>
    <input [(ngModel)]="loginDetails.email" type="email" name="email" placeholder="E-mail">
    <input type="password" [(ngModel)]="loginDetails.password" name="pass" placeholder="Password">
    <a (click)="getAuth()">Log in</a>
    <div id="remember-container">
        <span class="error" *ngIf="showError">{{ errorMessage }}</span><br>
        <span id="forgotten"><a routerLink="/register" routerLinkActive="active">Sign up</a></span>
    </div>
</form>
</div>
<h3>Sign-in with your Google account</h3>
<button (click)="signIn()">Google</button>
<br><a routerLink="/register" routerLinkActive="active">Sign up</a>