<div class = "advfilter" >
City: <input [(ngModel)] = "advCity" name="lname" type="text" />
Country: <input [(ngModel)] = "advCountry" name="lname" type="text" />
Max cost: <input [(ngModel)] = "advMaxCost" max="1000000" min="1" type="number" value="1"/> 
Min size: <input [(ngModel)] = "advMinSize" max="1000" min="1" type="number" value="1" />
Avaiable rooms: <input id="rooms" [(ngModel)] = "advRooms" type="number"  />
<input id="search" type = "button" value = "Search" (click)="onSearchButtonClicked()" >
</div>