.advfilter {
    position: absolute;
    top: 480px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 205px;
    height: max-content;
    float: left;
    background-color: #293649;
    padding: 10px;
    color:#eff4fa;
  }