<h1>{{ rentAd$.city }} {{rentAd$.district}} {{rentAd$.street}} </h1>
<div class="topcontainer">
<app-image-viewer></app-image-viewer>
  <div class=rentadslots>Slots</div>
  <div id="rentaddesc"> <p>{{ rentAd$.description }}</p></div>
</div>

<div id="rentaddetailslist">
  <ul>
    <li><strong>Rent state:</strong> {{ rentAd$.city }}</li>
    <li><strong>Rent city:</strong> {{ rentAd$.city }}</li>
    <li><strong>Rent district:</strong> {{ rentAd$.district }}</li>
    <li><strong>Rent street:</strong> {{ rentAd$.street }}</li>
    <li><strong>Rent cost:</strong> {{ rentAd$.cost }}</li>
    <li><strong>Rent size:</strong> {{ rentAd$.size }}</li>
    <li><strong>Rent type:</strong> {{ rentAd$.type }}</li>
    <li *ngIf="rentAd$.furnitured"><strong>Is it furnitured:</strong> Yes</li>
    <li *ngIf="!rentAd$.furnitured"><strong>Is it furnitured:</strong> No</li>
    <li><strong>Rooms avaiable:</strong> {{ rentAd$.roomsAvailable }}</li>
  </ul>
</div>

