* {
    font-family: Helvetica, Arial, sans-serif;

}

.topcontainer {
    width:1200px;
    
}

.bottomcontainer {
    width:1200px;
}

#topcontainer-rightsection {
    float:right;
    background-color:white;
    height:560px;
    width: 710px;
    border-radius: 5px 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

}

#contact {
    float: left;
    width:290px;
    
}

#contact li {
    background-color: #f1f1f1 !important;
    border-top:solid 1px darkslategray;
    border-bottom:solid 1px darkslategray;
    overflow-y: auto;
}

#advertiser {
    text-align: center;
}

.rentadslots {
    float:right;
    height:230px;
    width:58%;
    background-color: white;
    align-content: center;
    border-left: solid 1px gray;
    margin-top: 5px;

}

#rentaddesc {
    margin-top: 5px;
    float:right;
    height:330px;
    width:58%;
    border-left: solid 1px gray;
    overflow-y:scroll;
    
}

#rentaddesc::-webkit-scrollbar { 
    display: none; 
}

#rentaddesc p {
    margin:15px;
    font-weight: bold;
    color:black;
}

#rentaddetailslist {
    float: left;
    margin-top:15px;
    width:485px;
    background-color:white;
    border-radius: 5px 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

}

#rentaddetailslist ul li {
    background-color: #f1f1f1 !important;
    border-top:solid 1px darkslategray;
    border-bottom:solid 1px darkslategray;
}

#comments {
    margin-top: 10px;
    float: right;
    width:710px;
    height:800px;
    background-color: white;
    border-radius: 5px 5px;
    overflow-y:scroll;
    overflow-x:hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);

}

#comments::-webkit-scrollbar { 
    display: none; 
}

#error {
    color: red;
}

input[type=button]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-right:10px; 
}

#redbutton {
    background-color: red;
}

#rentSlotsGuest,#contactguest {
    background-color: lightgreen;
    text-align: center;
    font-size: 2em;
}

#ownerimg {
    width: 70px;
    height:70px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

li p {
    margin:0px;
}
