<div *ngIf="!rentAd$.enabled" id="error"> <h2> {{error}} </h2></div>
<div *ngIf="user">
  <div *ngIf="rentAd$.enabled || user.id == rentAd$.user.id || user.authorities[0] == 'ROLE_ADMIN' ">
    <h1>{{ rentAd$.city }} {{rentAd$.district}} {{rentAd$.street}} </h1>
    <div id="adminbuttons" *ngIf="user.authorities[0] == 'ROLE_ADMIN'">
      <input *ngIf="active == true" type="button" id="redbutton" value="Set inactive" (click)="onSetAdVisibilityClick(rentAd$.id)">
      <input *ngIf="active == false" type="button" id="notvisible" value="Set active" (click)="onSetAdVisibilityClick(rentAd$.id)">
      <input  type="button" value="Edit" routerLink="/admin/advertisement/edit/{{rentAd$.id}}">
      <input  *ngIf="!confirm" type="button" id="redbutton" value="Delete" (click)="onDeleteAdButtonClick()">
      <input  *ngIf="confirm" type="button" id="redbutton" value="Confirm delete" (click)="onConfirmDeleteAdButtonClick(rentAd$.id)">
    </div>
    <share-button 
        text="Facebook Share" 
        [theme]="'modern-dark'"
        [button]="'facebook'"
        [showText]="true"
        [showCount]="true"
        [showIcon]="false"
        [size]="-2"
        [url]="'http://localhost:4200/advertisement/' + rentAd$.id"></share-button>
    <div class="topcontainer">
    <app-image-viewer [rentAdId2]="rentAdId2"></app-image-viewer>
      <div class="rentadslots"><app-rent-slots [rentAdId]="rentAdId"></app-rent-slots></div>
      <div id="rentaddesc"> <p>{{ rentAd$.description }}</p></div>
    </div>

    <div id="rentaddetailslist">
      <ul>
        <li><strong>Rent state:</strong> {{ rentAd$.state }}</li>
        <li><strong>Rent city:</strong> {{ rentAd$.city }}</li>
        <li><strong>Rent district:</strong> {{ rentAd$.district }}</li>
        <li><strong>Rent street:</strong> {{ rentAd$.street }}</li>
        <li><strong>Rent cost:</strong> {{ rentAd$.cost }}</li>
        <li><strong>Rent size:</strong> {{ rentAd$.size }}</li>
        <li><strong>Rent type:</strong> {{ rentAd$.type }}</li>
        <li *ngIf="rentAd$.furnitured"><strong>Is it furnitured:</strong> Yes</li>
        <li *ngIf="!rentAd$.furnitured"><strong>Is it furnitured:</strong> No</li>
        <li><strong>Rooms avaiable:</strong> {{ rentAd$.roomsAvailable }}</li>
      </ul>
    </div>
  </div>
</div>
