.topcontainer {
    width:100%;
}

.rentadslots {
    float:right;
    height:230px;
    width:58%;
    background-color: white;
    border-radius: 20px 25px;
    align-content: center;
}

#rentaddesc {
    margin-top: 5px;
    float:right;
    height:230px;
    width:58%;
    background-color: #2d2e2e;
    border-radius: 20px 25px;
    

}

#rentaddesc p {
    margin:15px;
    font-weight: bold;
    color:white;
}

#rentaddetailslist {
    clear: both;
    margin-top:15px;
    width:40%;

}

#error {
    color: red;
}

input[type=button]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    margin-right:10px; 
}

#redbutton {
    background-color: red;
}

#rentSlotsGuest {
    background-color: lightgreen;
    text-align: center;
    font-size: 2em;
}