<h1>Pending matches</h1>
<ul>
  <div *ngFor="let match of matches$">
    <a >
      <div id="usercontainer" > 
        <img [ngStyle]="{'border-color': match.userB.gender == 'Male'? 'lightblue' : 'pink'}" id="userimg" *ngIf='match.userB.pictures.length == 0'  src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png" routerLink = "/profile/{{match.userB.id}}">
        <img [ngStyle]="{'border-color': match.userB.gender == 'Male'? 'lightblue' : 'pink'}" id="userimg" *ngIf='match.userB.pictures.length > 0'  src="/api/media/uploads/profiles/{{match.userB.id}}/{{match.userB.pictures[0].path}}" routerLink = "/profile/{{match.userB.id}}">
          <div>{{match.userB.firstName}}, {{match.userB.age}} </div>
          <br>
          <div class="bottom-left">
            <div class=userdesc *ngIf="match.status == 1">  Status: <font color="orange">pending</font></div>
            <div class=userdesc *ngIf="match.status == 3"> 
              <div id="matchbuttons">
                <i class="material-icons" (click)="acceptMatchButtonClick(match)" >check</i>
                <i class="material-icons" (click)="declineMatchButtonClick(match)">cancel</i>
              </div>
            </div>
          </div>
      </div>  
    </a>
  </div>
</ul>
