<h1>Matches</h1>
<ul>
  <div *ngFor="let match of matches$">
    <a routerLink = "/profile/{{match.userB}}">
      <div id="usercontainer">
        <img id="userimg" src="https://ca.slack-edge.com/T78TPR5LY-U7EERDEMA-3f68fbd5ca47-512">
          <div>{{match.userB}} users name </div>
          <br>
          <div class="bottom-left">
            <div class=userdesc> Age: 22  Status: {{match.status}}</div>
          </div>
          <div id="matchbuttons">
            <i class="material-icons">check</i>
            <i class="material-icons">cancel</i>
          </div>
      </div>  
    </a>
  </div>
</ul>


