<h1>Matches</h1>
<ul>
  <div *ngFor="let match of matches$">
    <a >
      <div id="usercontainer">
        <img id="userimg" src="https://ca.slack-edge.com/T78TPR5LY-U7EERDEMA-3f68fbd5ca47-512" routerLink = "/profile/{{match.userB}}">
          <div>{{match.userB}} users name </div>
          <br>
          <div class="bottom-left">
            <div class=userdesc *ngIf="match.status == 1">  Status: <font color="orange">pending</font></div>
            <div class=userdesc *ngIf="match.status == 2">  Status: <font color="green">matched</font>
              <div id="matchbuttons">
                <i class="material-icons" (click)="declineMatchButtonClick(match)">cancel</i>
              </div></div>
            <div class=userdesc *ngIf="match.status == 3"> 
              <div id="matchbuttons">
                <i class="material-icons" (click)="acceptMatchButtonClick(match.userB)" >check</i>
                <i class="material-icons" (click)="declineMatchButtonClick(match)">cancel</i>
              </div>
            </div>
          </div>
      </div>  
    </a>
  </div>
</ul>


