<h1>Matches</h1>
<ul>
  <div *ngFor="let match of matches$">
    <a >
      <div id="usercontainer" *ngIf="match.status == 2"  >
        <div class="wrapper" routerLink = "/profile/{{match.userB.id}}">
            <div class="card" data-effect="color">
              <figure  class="card__image">
                <img src="https://media.defense.gov/2017/Sep/06/2001803826/-1/-1/0/170621-F-LL945-0001.JPG" alt="Short description">
              </figure>
              <div class="card__header">
                <figure class="card__profile">
                    <img *ngIf='match.userB.pictures.length == 0'  src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png" >
                    <img *ngIf='match.userB.pictures.length > 0'  src="/api/media/uploads/profiles/{{match.userB.id}}/{{match.userB.pictures[0].path}}">
                </figure>
              </div>
              <div class="card__body">
                <h3 class="card__name">{{match.userB.firstName}}, {{match.userB.age}}</h3>
                <p class="card__bio"> {{match.userB.description}}</p>
              </div>
              <div class="card__footer">
                <p class="card__buttons">Unmatch</p>
                <i class="material-icons" (click)="declineMatchButtonClick(match)">cancel</i>
              </div>
            </div>
          </div>
      </div>  
    </a>
  </div>
</ul>


