
<nav>
<div class='swanky'>
  <div class='swanky_wrapper'>
    <label routerLink = "myprofile" for='profile'>
      <i class="material-icons">person_pin</i>
      <span>Profile</span>
      <div class='bar'></div>
    </label>
    <label routerLink ="notifications" for='Notifications'>
      <i class="material-icons">error</i>
    <span>Notifications</span>
    <div class='bar'></div>
    </label>
    <input id='Messages' name='radio' type='radio' value = 1 (click)='resetRadio($event)'>
    <label for='Messages'>
        <i class="material-icons">mail</i>
      <span>Messages</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li>Inbox</li>
          <li>Outbox</li>
          <li>Sent</li>
        </ul>
      </div>
    </label>
    <input id='Matches' name='radio' type='radio' value = 1 (click)='resetRadio($event)'>
    <label for='Matches'>
      <i class="material-icons">group</i>
      <span>Matches</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li routerLink ="mymatches">My matches</li>
          <li routerLink="pendingmatches">Match requests</li>
          <li routerLink="people">People</li>
        </ul>
      </div>
    </label>
    <input id='Advertisements' name='radio' type='radio' value = 1 (click)='resetRadio($event)'>
    <label for='Advertisements'>
      <i class="material-icons">local_hotel</i>
      <span>Advertisements</span>
      <div class='lil_arrow'></div>
      <div class='bar'></div>
      <div class='swanky_wrapper__content'>
        <ul>
          <li routerLink ="advertisements">Browse advertisements</li>
          <li routerLink ="newadvertisement">Add advertisement</li>
          <li routerLink ="myadvertisements">My advertisements</li>
        </ul>
      </div>
    </label>
    
    
    
    <label routerLink = "" (click)="deleteAuth()" for='Logout' id=logout>
        <i class="material-icons">exit_to_app</i>
        <span>Logout</span>
        <div class='logoutbar'></div>
      </label>
  </div>
  <!-- /////////// End Dropdown //////////// -->
</div>
</nav>