<h1>People</h1>
<ul>
  <div *ngFor="let flatmate of flatmates$">
    <a >
      <div id="usercontainer">
        <img [ngStyle]="{'border-color': flatmate.gender == 'Male'? 'lightblue' : 'pink'}" id="userimg" *ngIf='flatmate.pictures.length == 0'  src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png" routerLink = "/profile/{{flatmate.id}}">
        <img [ngStyle]="{'border-color': flatmate.gender == 'Male'? 'lightblue' : 'pink'}" id="userimg" *ngIf='flatmate.pictures.length > 0'  src="/api/media/uploads/profiles/{{flatmate.id}}/{{flatmate.pictures[0].path}}" routerLink = "/profile/{flatmate.id}}">
            <div>{{flatmate.firstName}}</div>
          <br>
          <div class="bottom-left">
            <div class=userdesc > 
              <p>Age: {{flatmate.age}}</p>
              <p>Destination: {{flatmate.destination}}</p>
              <i class="material-icons" (click)="sendMatchRequestButtonClick(flatmate)">add_circle</i>
            </div>
          </div>
      </div>  
    </a>
  </div>
</ul>
