<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="notifications" *ngFor="let notification of notifications">
  <div class= "notification" [ngStyle]="{'background-color':notification.seen? 'white': '#edf2fa'}" >
    <div class="notificationtype">
      <i *ngIf="notification.type == 'advertisement'" class="material-icons">home</i>
      <i *ngIf="notification.type == 'match'" class="material-icons">people</i>
      <i *ngIf="notification.type == 'slot'" class="material-icons">account_circle</i>
    </div>
    {{notification.content}} 
    <div class="delete-notification" (click) = 'deleteButtonClick(notification)' >x</div>
    
    <div class="notificationbottom">
      <a (click) = 'notificationClick(notification)'>View </a>
      <a  *ngIf="!notification.seen" (click) = 'seenButtonClick(notification)'>Seen </a>
      <div class = "notification-date">
        {{notification.date | date:'y-MM-dd hh:mm'}}
      </div>
    </div>
  </div>
</div>
