<h1>Profile</h1>

<h2>Personal information</h2>

<div id="personal">
  First name:<br>
  <input type="text" placeholder="John" [disabled]="!canEdit" [(ngModel)]="user.firstName"/><br>
  
  Last name:<br>
  <input type="text" placeholder="Brown" [disabled]="!canEdit" [(ngModel)]="user.lastName"/><br>
  
  Age:<br>
  <input type="number" placeholder="25" min="15" max="99" step="1" [disabled]="!canEdit" [(ngModel)]="user.age"/>
  <span class="error" *ngIf="isAgeNumber()">{{ ageErrorMessage }}</span><br>

  Gender:<br>
  <select [(ngModel)]="user.gender" [disabled]="!canEdit">
    <option value="Male">Male</option>
    <option value="Female">Female</option>  
  </select><br>
  
  Description:<br>
  <textarea maxlength="500" rows="10" cols="50" [disabled]="!canEdit" [(ngModel)]="user.description" placeholder="(max. 500 characters)"></textarea><br>
  
  Destination:<br>
  <input type="text" placeholder="Budapest" [disabled]="!canEdit" [(ngModel)]="user.destination"><br>
  
  Show in people: <input id="showPeopleInput" type="checkbox" [(ngModel)]="user.flatmate" [disabled]="areFieldsFilledOut()"><br>
</div>

<div id="change-password">
  <h2>Change password</h2>
  Old password:<br>
  <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.oldPw"><br>
  New password:<br>
  <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.newPw"><br>
  Confirmation password:<br>
  <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.confirmationPw"><br>
  <span class="error" *ngIf="checkNewPasswords()">{{ passwordsErrorMessage }}</span>
</div>

<br><span class="error" *ngIf="showError">{{ errorMessage }}</span><br>

<button (click)="modify()">Edit</button>
<button (click)="save()" [disabled]="isAgeNumber() || checkNewPasswords()">Save</button>

