 <div class="container">
   <h2>Personal information</h2>
    <div class="row">
      <div class="col-25">
        <label for="firstname">Firstname</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="John" [disabled]="!canEdit" [(ngModel)]="user.firstName"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lastname">Lastname</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Brown" [disabled]="!canEdit" [(ngModel)]="user.lastName"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="age">Age</label>
      </div>
      <div class="col-75">
        <input type="number" placeholder="25" min="15" max="99" step="1" [disabled]="!canEdit" [(ngModel)]="user.age"/>
        <span class="error" *ngIf="isAgeNumber()">{{ ageErrorMessage }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="gender">Gender</label>
      </div>
      <div class="col-75">
        <select [(ngModel)]="user.gender" [disabled]="!canEdit">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea maxlength="500" rows="10" cols="50" [disabled]="!canEdit" [(ngModel)]="user.description" placeholder="(max. 500 characters)"></textarea>      
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="destination">Destination</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="Budapest" [disabled]="!canEdit" [(ngModel)]="user.destination">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="showinpeople">Show in people</label>
      </div>
      <div class="col-75">
        <input id="showPeopleInput" type="checkbox" [(ngModel)]="user.flatmate" [disabled]="areFieldsFilledOut()">      
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="pictures">Pictures</label>
        </div>
        <div id = "picturescontainer" class="col-75">
          <div *ngFor="let number of [0,1,2,3]">
            <div class ="uploadButton" *ngIf="pictures.length &lt; number+1">
              <input [disabled]="!canEdit" style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
              <img  src="https://static.umotive.com/img/product_image_thumbnail_placeholder.png" (click)="fileInput.click()">
            </div>
            <div class ="uploadButton" *ngIf="user.pictures[number] != null">
              <img src="/api/media/uploads/profiles/{{user.id}}/{{pictures[number].path}}" id="userimg" >
              <img *ngIf="canEdit" src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-coloricon/21/19-512.png" (click)="onDeleteButtonClick(pictures[number])" id="deleteimg">
            </div>
          </div>     
        </div>
      </div>
</div>


<div class="container">
  <h2>Edit password</h2>
    <div class="row">
      <div class="col-25">
        <label for="oldpw">Old password</label>
      </div>
      <div class="col-75">
        <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.oldPw">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="newpw">New password</label>
      </div>
      <div class="col-75">
        <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.newPw">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="newpwconf">Confirm new password</label>
      </div>
      <div class="col-75">
        <input type="password" [disabled]="!canEdit" [(ngModel)]="changePw.confirmationPw">
        <br><br><span class="error" *ngIf="checkNewPasswords()">{{ passwordsErrorMessage }}</span>
      </div>
    </div>


    <div class="row">
      <br><input type="button" (click)="modify()" value="Edit">
      <input type="button" (click)="save()" [disabled]="isAgeNumber() || checkNewPasswords()" value = "Save">
      <br><span class="error" *ngIf="showError">{{ errorMessage }}</span>
    </div>
    

</div>