<h1>Profile</h1>

<h2>Personal information</h2>

<div id="personal">
  First name:<br>
  <input type="text" [disabled]="enabled" [(ngModel)]="user.firstName"/><br>
  
  Last name:<br>
  <input type="text" [disabled]="enabled" [(ngModel)]="user.lastName"/><br>
  
  Age:<br>
  <input type="number" min="0" max="110" step="1" [disabled]="enabled" [(ngModel)]="user.age"/><br>
  
  Gender:<br>
  <select [(ngModel)]="user.gender" [disabled]="enabled">
    <option value="Male">Male</option>
    <option value="Female">Female</option>  
  </select><br>
  
  Description:<br>
  <textarea maxlength="500" rows="4" cols="50" [disabled]="enabled" [(ngModel)]="user.description"></textarea><br>
  
  Destination:<br>
  <input type="text" [disabled]="enabled" [(ngModel)]="user.destination"><br>
  
  Show in people: <input type="checkbox" [(ngModel)]="user.flatmate" [disabled]="enabled"><br>
</div>

<div id="change-password">
  <h2>Change password</h2>
  Old password:<br>
  <input type="password" [disabled]="enabled" [(ngModel)]="changePw.oldPw"><br>
  New password:<br>
  <input type="password" [disabled]="enabled" [(ngModel)]="changePw.newPw"><br>
  Confirmation password:<br>
  <input type="password" [disabled]="enabled" [(ngModel)]="changePw.confirmartionPw"><br>
</div>

  <br><span class="error" *ngIf="showError">{{ errorMessage }}</span><br>

<br><button (click)="modify()">Edit</button>
<button (click)="save()">Save</button>

